<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las mejores pizzas del Huila</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css>">
    <!--Es reconendada trabajar con la url para que funcione mas rapido-->
    <!--Iconos -->
    <script src="https://kit.fontawesome.com/db4851e8ac.js" crossorigin="anonymous"></script>

    <!--Estilos definidos-->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!--Estilo para el parrafo-->
    <link rel="stylesheet" href="../assets/css/parrafo.css">
    <!--Estilos para las imagenes-->
    <link rel="stylesheet" href="..//assets/css/imgGit.css">


</head>

<body>
    <div class="container">
        <div class="content">
            <header>
                <h2 class="title-item">  
                <span class="position">2</span>
                    Rinos Pizzas.
                    <div><img class="avatar" src="../assets/img/rino.gif" alt=""></div>
                    <div class="action"><a href="../" class="close">X</a></div>
                    
                </h2>
            </header>
            <section>
                <img>
                <div class="text">
                    <address> <i class="fas fa-map-marker-alt"></i> Calle 14#23d</address>
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magnam eum facilis placeat
                        atque sit maiores dolorem ab molestias at ad veniam totam, laboriosam cum fuga molestiae aut
                        eligendi! Quae?</p>
                </div>
            </section>
        </div>
    </div>
</body>

</html> 